name: Release

on:
  workflow_dispatch:

permissions:
  contents: read
  id-token: write

jobs:

  publish:

    name: Build & Publish Packages

    runs-on: ubuntu-latest  

    environment:
      name: production

    steps:
      - name: Checkout source
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 10.0

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build Images
        run: |
          docker build --pull -f Dockerfile.linux-x64 -t genhttp/gateway:linux-x64 .
          docker build --pull -f Dockerfile.linux-arm32 -t genhttp/gateway:linux-arm32 .
          docker build --pull -f Dockerfile.linux-arm64 -t genhttp/gateway:linux-arm64 .

      - name: Push Images
        run: |
          docker push genhttp/gateway:linux-x64
          docker push genhttp/gateway:linux-arm32
          docker push genhttp/gateway:linux-arm64

      - name: Push Multi
        run: |
          docker manifest create --amend genhttp/gateway:latest genhttp/gateway:linux-x64 genhttp/gateway:linux-arm32 genhttp/gateway:linux-arm64 genhttp/gateway:windows-x64
          docker manifest push --purge genhttp/gateway:latest